<div id="mainbody">
<h2>Listing account types</h2>
<div class="digg_pagination">
<%= will_paginate @account_types %>&nbsp;
<% if can? :create, AccountType %>
<%= link_to 'New account type', new_account_type_path %>
<% end %>
</div>
<p style="clear: both">
<br />	
<table class="tempaccts" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
	  <th></th>
      <th>Description</th>
      <th>Max expiry</th>
      <% if can? :destroy, Tempacct %>
      <th>Delete</th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |account_type| %>
      <tr class="<%= cycle('ma_row_light', 'ma_row_dark') %>">
      	<td><%= link_to_modal account_type.name, account_type %></td>
        <td>
        <% if can? :edit, AccountType %>
        <%= link_to image_tag("edit-icon.png", :size => "16x16", :title => "Edit details"), edit_account_type_path(account_type) %>
        <% end %>
        </td>
        <td><%= account_type.description.html_safe() %></td>
        <td style="width: 20%"><%= account_type.max_expiry.to_s(:my_date) %></td>
        <% if can? :destroy, AccountType %>
        <%= render :partial => "shared/delete_link", :object => account_type, :locals => {:display => "Delete #{account_type.name}" } %>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
<div class="digg_pagination">
<%= will_paginate @account_types %>&nbsp;
<% if can? :create, AccountType %>
<%= link_to 'New account type', new_account_type_path %>
<% end %>
</div>
</p>
