<%= form_for(@account_group) do |f| %>
  <% if @account_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_group.errors.count, "error") %> prohibited this account_group from being saved:</h2>

      <ul>
      <% @account_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline; float: left; width: 60%;">
  <fieldset><legend>Account type details</legend><dl>

  <div> <!-- wrapper around account details and help divs -->
  <div class="field" style="float: left;">
    <%= f.label :name, "Group name" %> (Required)<br />
    <%= f.text_field :name, :class => "tempaccts" %><br />
    <%= f.label :default_expiry %> (Required)<br />
	<% if @account_group.default_expiry %>
    <%= f.date_select :default_expiry, :order => [:day, :month, :year ],  :selected => @account_group.default_expiry, :start_year => @account_group.default_expiry.year, :end_year => @account_group.default_expiry.year + 10, :class => "tempaccts" %>
	<% else %>
	<%= f.date_select :default_expiry,  :order => [:day, :month, :year ], :default => 1.year.from_now, :start_year => Time.now.year, :end_year => Time.now.year + 10, :class => "tempaccts" %>
	<% end %>
  </div>
  </div>
  </dl>
  </div>
  </fieldset>

  <div style="clear: both;"></div>

  <div style="display: inline; float: left; width: 60%;">
  <fieldset><legend>Additional information</legend><dl>
  <div class="field" style="float: left;">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 5, :cols => 40, :class => "tempaccts" %>
  </div>
  </dl>
  </fieldset>
 
  <div style="clear: both;"></div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
